<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[TiaMcpServer]*,[TiaMcpServer.Contracts]*</Include>
          <Exclude>[TiaMcpServer.Tests]*,[TiaMcpServer.FakeWorker]*,[TiaMcpServer.OpennessWorker]*</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*.g.cs,**/*.Designer.cs,**/obj/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
